@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;
// Import bootstrap and fontawesome
@import 'base/variables';
@import 'bootstrap';
@import 'font-awesome';

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

li a {
  cursor: pointer;
}

a.bg-primary {
  &:hover,
  &:focus {
    color: #fff;
  }
}

.table {
  thead > tr > th {
    vertical-align: top;
  }
  thead > tr > th,
  thead > tr > td,
  tbody > tr > th,
  tbody > tr > td,
  tfoot > tr > th,
  tfoot > tr > td {

    padding: 24px;
  }
}

.form-control:focus {
  border-color: $brand-primary;
}

.close {
  font-size: 50px;
  line-height: 30px;
  font-weight: lighter;
  opacity: 0.4;
}

.navbar {
  .navbar-brand {
    padding-top: 62px;
    font-size: 38px;
    line-height: 38px;
  }
  background-color: $navbar-background-color;
  .search-box {
    width: 350px;
    padding: 55px 15px
  }
  .nav > li > a {
    font-size: 18px;
    &:hover,
    &:focus {
      background-color: $navbar-background-hover-color;
    }
  }
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 62px;
    padding-bottom: 62px;
  }
}
.footer {
  background-color: #57BFDC;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  .footer-info {
    padding-top: 30px;
  }
}

.result-header {
  position: relative;
  .sort-actions {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    a {
      font-weight: bold;
    }
  }
}

.img-thumbnail {
  padding: 0;
  background-color: inherit;
  border: 0;
  border-radius: 0;
}

#facets {
  .orderby,
  .facettotalcount {
    display: none;
  }
  .facetitem.activefacet {
    font-weight: bold;
  }
  .facetitem {
    cursor: pointer;
    color: #009ECA;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.social-buttons {
  clear: both;
  float: right;
  .btn {
    padding: 6px;
  }
}

/*
 * Results
 */
#results {
  hr {
    border: 1px solid #ddd;
  }
  .card {
    position: relative;
    min-height: 200px;
    .card-container {
      .card-content {
        position: relative;
        min-height: 200px;
        h3.card-title {
          width: 80%;
        }
        .pricing {
          padding-left: 15px;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
    .pros-cons {
      width: 240px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

/*
 * Compared
 */
#compare-list {
  span.compare-list-item {
    position: relative;
    img {
      margin: 0 3px 3px 0;
      border: 1px solid #333;
    }
    a {
      position: absolute;
      bottom: -7px;
      right: 3px;
      width: 12px;
      height: 12px;
      line-height: 10px;
      font-size: 10px;
      background-color: #fff;
      color: #000;
      text-align: center;
      border: 1px solid #333;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.modal-dialog {
  width: 85%;
}